/*Writing CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.full {
    width: 80%;
    max-width: 1000px;
    min-height: 100px;
    background-color:antiquewhite;
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.left {
    position: initial;
    background-color:lightgray;
    padding: 30px;
 
}
.nombre{
    position: initial;
    background-color: lightblue;
    padding: 20px;
    font-family: 'Libre Baskerville', serif;
 
}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
 .Experience, .Education, .Projects, .ContactForm, .AboutMe {
    margin-bottom: 30px;
    font-family:'Montserrat', sans-serif;
}

.image{
    -webkit-box-shadow: 5px 5px 70px 0px rgba(0,0,0,0.33); 
    box-shadow: 5px 5px 70px 0px rgba(0,0,0,0.33);
    
}


